ProductsClient1/Connected Services/ProductsService/IProductsService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://projetoavaliativo.dm113/01" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://projetoavaliativo.dm113/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://projetoavaliativo.dm113/01/Imports">
      <xsd:import schemaLocation="http://localhost:52021/IProductsService.svc?xsd=xsd0" namespace="http://projetoavaliativo.dm113/01" />
      <xsd:import schemaLocation="http://localhost:52021/IProductsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52021/IProductsService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:52021/IProductsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Products" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductsService_ListarProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutos" />
  </wsdl:message>
  <wsdl:message name="IProductsService_ListarProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_IncluirProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProduto" />
  </wsdl:message>
  <wsdl:message name="IProductsService_IncluirProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_RemoverProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProduto" />
  </wsdl:message>
  <wsdl:message name="IProductsService_RemoverProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_ConsultarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoque" />
  </wsdl:message>
  <wsdl:message name="IProductsService_ConsultarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_AdicionarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEstoque" />
  </wsdl:message>
  <wsdl:message name="IProductsService_AdicionarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_RemoverEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoque" />
  </wsdl:message>
  <wsdl:message name="IProductsService_RemoverEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IProductsService_VerProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:VerProduto" />
  </wsdl:message>
  <wsdl:message name="IProductsService_VerProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductsService">
    <wsdl:operation name="ListarProdutos">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/ListarProdutos" message="tns:IProductsService_ListarProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/ListarProdutosResponse" message="tns:IProductsService_ListarProdutos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirProduto">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/IncluirProduto" message="tns:IProductsService_IncluirProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/IncluirProdutoResponse" message="tns:IProductsService_IncluirProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverProduto">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/RemoverProduto" message="tns:IProductsService_RemoverProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/RemoverProdutoResponse" message="tns:IProductsService_RemoverProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/ConsultarEstoque" message="tns:IProductsService_ConsultarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/ConsultarEstoqueResponse" message="tns:IProductsService_ConsultarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/AdicionarEstoque" message="tns:IProductsService_AdicionarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/AdicionarEstoqueResponse" message="tns:IProductsService_AdicionarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/RemoverEstoque" message="tns:IProductsService_RemoverEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/RemoverEstoqueResponse" message="tns:IProductsService_RemoverEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerProduto">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/VerProduto" message="tns:IProductsService_VerProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IProductsService/VerProdutoResponse" message="tns:IProductsService_VerProduto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>